$primary: #006f4e;
$secondary: #073763;

$dark: #222222;
$light: #fbf7f5;

@import '../../../node_modules/bootstrap/scss/bootstrap';

body {
  background-color: $light;
  color: $dark;
}

.completed {
  text-decoration: line-through;
}

.error-message-show {
  display: none;
}

.error-message-hide {
  display: block;
}
